.mat-tab-group {
  margin-bottom: 48px;
}

.example-full-width {
  width: 100%;
  border-radius: 20px;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}

.bot {
  border-radius: 20px;
  background-color: #d7d7d7 !important;
  color: #008a21;
  border: 1px solid gray !important;
}