<app-navbar-custom></app-navbar-custom>

<!-- [mapTypeId]="'relieve'" -->
<agm-map 
[streetViewControl]="true"
  style="height: 90%;"
  [latitude]="lat"
  [longitude]="lng"
  [mapTypeControl]='true'
  [fullscreenControl]='true'
  [styles]="customStyle"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  [zoomControl]="true">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.nombre, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)"
      [iconUrl]='{"url": m.icon,"scaledSize": {"height": 35, "width": 30}}'
      >
<!--       
    <agm-info-window>
      <strong>{{m.nombre}}</strong>
    </agm-info-window> -->

    <agm-info-window #infowindow [maxWidth]="320">
      <div>
        <h3>{{ m.nombre }}</h3>

            Direccion: <small><strong>{{ m.model.direccion }}</strong></small><br>
            Email: <small><strong>{{ m.model.email }}</strong></small><br>
            Telefono: <small><strong>{{ m.model.telefono }}</strong></small><br>
            Celular: <small><strong>{{ m.model.celular }}</strong></small><br>
            <img src="../../../../assets/img/logo.png" width="50"> ¿ Principal ? <small><strong>{{ m.model.principal ? 'SI':'NO' }}</strong></small>
          
            
         
      </div>
    </agm-info-window>
    
  </agm-marker>
  
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>

</agm-map>

<div class="cont-botones">
  <button *ngIf="!isAuthenticated()" mat-raised-button color="basic" [routerLink]="['/examples/login']">
    <span class="material-icons">person</span> Iniciar sesión
  </button>
  <button *ngIf="!isAuthenticated()" mat-raised-button color="basic" [routerLink]="['../comprador/components']">
    <span class="material-icons">input</span> Registrarse
  </button>
  <button *ngIf="isAuthenticated()" mat-raised-button color="basic" [routerLink]="['../negocio/components']">
    <span class="material-icons">apartment</span> Registrar empresa
  </button>
</div>

<!-- Footer -->
<!-- <footer class="py-5" id="footer-main">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; {{ test | date: "yyyy" }}
          <a
            href="https://www.creative-tim.com?ref=adpa-presentation-page"
            class="font-weight-bold ml-1"
            target="_blank"
            >Creative Tim</a
          >
        </div>
      </div>
      <div class="col-xl-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-xl-end"
        >
          <li class="nav-item">
            <a
              href="https://www.creative-tim.com?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >Creative Tim</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.creative-tim.com/presentation?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              href="http://blog.creative-tim.com?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.creative-tim.com/license?ref=adpa-presentation-page"
              class="nav-link"
              target="_blank"
              >License</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
