//
// Badge floating
//

.btn {
  .badge-floating {
    &.badge:not(.badge-circle) {
      transform: translate(-30%, 50%);
    }
  }
}

agm-map {
  height: 300px;
}


* {
  font-family: Lato;
}

a {
  color: darkblue;
}