<div class="fondo-login">
  <img src="../../../../assets/img/fondo-login.jpg" alt="fondo">
</div>
<div class="d-flex align-items-center justify-content-center" style="position: absolute; width: 100%; height: 100%;">
  <div class="d-flex justify-content-center w-100">
    <div class=" col-lg-5 col-md-7">
      <div class="bg-transparent mb-0">
        <div class="px-lg-5 py-lg-5">
          <form role="form">
            <div class="form-group mb-3" [ngClass]="{ focused: focus === true }" >
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  (focus)="focus = true"
                  (blur)="focus = false"
                />
              </div>
            </div>
            <div class="form-group" [ngClass]="{ focused: focus1 === true }">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Password"
                  [type]="verPass ? 'text' : 'password'"
                  (focus)="focus1 = true"
                  (blur)="focus1 = false"
                />
                <div class="input-group-prepend">
                  <a class="input-group-text" href="javascript:void(0)" style="color: #172b4d !important" (click)="verPass = !verPass">
                    <i [class]="verPass ? 'fas fa-eye' : 'fas fa-eye-slash' "></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="row mt-2 px-3">
              <div class="col-4 custom-control custom-control-alternative custom-checkbox">
                <input
                  class="custom-control-input"
                  id="customCheckLogin"
                  type="checkbox"
                />
                <label class="custom-control-label" for="customCheckLogin">
                  <span>Recuérdame</span>
                </label>
              </div>

              <div class="col-8 text-right">
                <a href="javascript:void(0)" style="color: #172b4d !important" [routerLink]="['/examples/recuperar-contrasena']">
                  <small> ¿Olvidaste tu contraseña? </small>
                </a>
              </div>
            </div>

            <div class="text-center w-100">
              <button type="button" class="btn btn-primary my-4 w-100">
                Iniciar sesión
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class=" row mt-3">
        <div class="col-12 text-dark text-center">
          <span> ¿No tienes cuenta en ComproEn Neiva? </span>
          <!-- mat-button -->
          <a href="javascript:void(0)" class="btn btn-instagram ml-3"> Registrate </a>
        </div>
      </div>
    </div>
  </div>
</div>
