<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="placeMarker($event)">

  <agm-marker 
      (markerClick)="clickedMarker(ubicacionSeleccionada.label)"
      [latitude]="ubicacionSeleccionada.lat"
      [longitude]="ubicacionSeleccionada.lng"
      [label]="labelOptions"
      [markerDraggable]="ubicacionSeleccionada.draggable"
      (dragEnd)="markerDragEnd(ubicacionSeleccionada, $event)">
    <agm-info-window>
      <strong>Ubicacion Seleccionada</strong>
    </agm-info-window>
  </agm-marker>

  <!-- 
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle> -->

</agm-map>